/*************** global design ***************/
body{
	margin:0; 
	padding:0;
    font-family: Sans-Serif;
    color:#ffb204 !important;
    background-color:black !important;
}

h1, h2, h3, h4, h5, .GameFont{
    font-family: 'Press Start 2P', cursive !important;
}

#mr-game-container{
	display:flex; 
	overflow:hidden;
	min-width:750px;
}

#mr-gameArea{
	width:60%; 
	min-width:450px;
    margin-right:2%;
	
}

#mr-controls{
	width:35%;
}

#mr-navigation{
	margin-top:.5em; 
	padding:.15em;
}

.btn {
  height:27px;
  width:25%;
}

.game_btn.btn{
    width:75%;
}
ul{
	list-style:none; 
	display:table; 
	/*table-layout:fixed; */
	width:55%;
}

	ul li{
        text-align:center;
		display: table-cell;
        width:20%;
	}

/*************** Header design ***************/

header{
	padding:.5em; 
	/*border-bottom:2px solid #730101;*/
}

	header .mr-levelText{
		float:right; 
		display:inline-block;	
	}


/*************** text styling ***************/

#mr-scores{ 
	padding: .5em 1.2em;
    font-size:1vw;
}

.btn{
    font-size: 1vw !important;
    padding: .25em !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited{
    background-color: #8c1d40 !important;
    border-color: #8c1d40 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #730101 !important;
    border-color: #730101 !important;
}


/*************** modal styling ***************/
.modal-content{
    background-color:#888 !important;
    font-size:1rem !important;
    color: #000 !important; 
}
      

/*************** help Modal ***************/
.mr-helpDiv {
    margin-top:1.25em;
}

.mr-helpDiv img {
    margin-right:1.25em;
}

/*************** Game styling ***************/

 canvas{
  /*border:5px solid #730101;*/
  z-index:101;
}

 /*************** helper styling ***************/

 .hidden{
    display:none;
 }

 #overlay {
    position: fixed;
    display: none;
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 100; 
    cursor: pointer; 
}