/*************** global design ***************/
body{
	margin:0; 
	padding:0;
}

#mr-game-container{
	display:flex; 
	max-height:500px; 
	overflow:hidden;
	min-width:750px;
}

#mr-gameArea{
	width:60%; 
	height:500px; 
	min-width:450px;
	background-color:#eaeaea;
}

#mr-controls{
	width:35%;
}

#mr-navigation{
	margin-top:.5em; 
	padding:.25em;
}

ul{
	list-style:none; 
	display:table; 
	table-layout:fixed; 
	width:55%;
}

	ul li{
		display: table-cell;
	}

/*************** Header design ***************/

header{
	padding:.5em; 
	background-color:#eaeaea;
}

	header .mr-levelText{
		float:right; 
		display:inline-block;	
	}


/*************** text styling ***************/

#mr-scores h3{
	display:inline-block; 
	padding: .5em 1.2em;
}


/*************** button / link styling ***************/

      
#mr-navigation ul .mr-button{
	padding:.5em 2em;
	text-wrap:none;
	background-color:#8c1d40; 
	color:white;
	border-radius:4px;
	text-decoration:none;
}


/*************** Game styling ***************/

canvas{
  background-color: black;
}
