/*************** global design ***************/
body{
	margin:0; 
	padding:0;
    font-family: 'Press Start 2P', cursive !important;
    color:#ffb204 !important;
    background-color:black !important;
}

#mr-game-container{
	display:flex; 
	/*max-height:500px; */
	overflow:hidden;
	min-width:750px;
}

#mr-gameArea{
	width:60%; 
	/*height:500px; */
	min-width:450px;
    margin-right:2%;
	
}

#mr-controls{
	width:35%;
}

#mr-navigation{
	margin-top:.5em; 
	padding:.15em;
}

.btn {
  width:124px;
}

ul{
	list-style:none; 
	display:table; 
	/*table-layout:fixed; */
	width:55%;
}

	ul li{
		display: table-cell;
	}

/*************** Header design ***************/

header{
	padding:.5em; 
	border-bottom:2px solid #730101;
}

	header .mr-levelText{
		float:right; 
		display:inline-block;	
	}


/*************** text styling ***************/

#mr-scores h3{
	display:inline-block; 
	padding: .5em 1.2em;
}

.btn{
    font-size:.5rem !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited{
    background-color: #8c1d40 !important;
    border-color: #8c1d40 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #730101 !important;
    border-color: #730101 !important;
}


/*************** modal styling ***************/
.modal-content{
    background-color:#fff;
}
      

/*************** help Modal ***************/
.mr-helpDiv {
    margin-top:1.25em;
}

.mr-helpDiv img {
    margin-right:1.25em;
}

/*************** Game styling ***************/

canvas{
  background-color: black;
  border:5px solid #730101;
}
